*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body{
	height: 100vh;
	background-size: all;
	background-image: url(images/teams_BG.png);
	background-size: cover;
	background-position: center;
	animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.dialogue {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
  text-align: center;
  margin-top: 6%;
}
.dialogue span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
}

.logo{
  height: auto;
  width: auto;
  float: left;
  margin-right: 1%;
}

.logo img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#navbar {
  background-image: linear-gradient(#4bdb5d,#349841);
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

footer{
	background-image: linear-gradient(#4bdb5d,#349841);
	position:fixed;
  bottom: 0;
  width: 100%;
}

#trademark{
	margin-left: 0.5%;
	color: white;
}

/* animations */
#navbar a:hover {
  background-color: #ddd;
  color: black;
}

@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
